<!--<style>
     .adtext{
     width: 300px; height: 100px; 
     }
@media (min-width:500px){
     .adtext {
          width: 468px; height: 60px; 
        }
     }
@media (min-width:800px) {
     .adtext { width: 600px; height: 90px; 
        }
     }
</style>
-->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blogs -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8397173575148898"
     data-ad-slot="5097163602"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

