<style>
     .adtext{
     width: 300px; height: 100px; 
     }
@media (min-width:500px){
     .adtext {
          width: 468px; height: 60px; 
        }
     }
@media (min-width:800px) {
     .adtext { width: 728px; height: 90px; 
        }
     }
</style>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog text -->
<ins class="adsbygoogle adtext"
     style="display:inline-block"
     data-ad-client="ca-pub-8397173575148898"
     data-ad-slot="5800110490"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
